APP_NAME=Uber
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=uber
DB_USERNAME=uber
DB_PASSWORD=password

SESSION_DRIVER=array
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_DRIVER=centrifugo
BROADCAST_CONNECTION=centrifugo

FILESYSTEM_DISK=local
QUEUE_CONNECTION=roadrunner

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="uber@uber.com"
MAIL_FROM_NAME="${APP_NAME}"

BUGGREGATOR_UI_URL=http://localhost:8001

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

TWILIO_SID=your_twilio_account_sid
TWILIO_TOKEN=your_twilio_auth_token
TWILIO_FROM=+1234567890
SMS_DRIVER=fake

CENTRIFUGO_URL="http://localhost:8000"
CENTRIFUGO_TOKEN_HMAC_SECRET_KEY=QilXG_JfMPnnqAe0QQlZOtXHUQ8gbeRaQqIvKC62T1IBy8aPuC1ZNknhb6hh7bTlPGSgqlV1VOoHuUVtI93kEg
CENTRIFUGO_API_URL=http://localhost:8000/api
CENTRIFUGO_API_KEY=ad3iOI_OmduTj4IpG9iL24FsXgRPvAip1v1OgPOi1eMtCumv8K0jSe17JAwPryyYImfFzeIPsNHlj4L9vA8AOA
CENTRIFUGO_ADMIN_PASSWORD=HFqG2FOTZhWMNUrUfHJXzQ
CENTRIFUGO_ADMIN_SECRET=F7K-XrJgeOkIAyRwEHcUDbXvFVPM-Q7p0s54ou-tJE7hmLmHZ0H4YPNWAQSuyWvdwnxH1pNxm9aa5thYTrcUJA

